body {
    display: flex;
    align-items: stretch;
    margin: 0;
    min-height: 100vh;
}

#main {
    background-color: lightslategray;
    width: 1440px;
    height: auto;
    display: flex;
    align-self: strech;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
}

#display {
    display: flex;
    height: 50%;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
}

#score-screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
}

#player {
    display: flex;
    flex-direction: column;
}

#score {
    display: flex;
    flex-direction: column;
}

#info-screen {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 2rem;
    text-align: center;
}

#buttons {
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.buttons {
    width: 10rem;
    height: 10rem;
}